In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/indian-unicorn-startups-2023-june-updated/Indian Unicorn startups 2023 updated.csv

In [2]:
import numpy as np

In [3]:
a = np.array([[1,2,3],[4,5,6]])
b = np.array([[7,8,9,],[10,11,12]])
c = np.hstack((a,b))
c

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [4]:
d = np.vstack((a,b))
d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [5]:
np.concatenate((a,b),0)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [6]:
np.concatenate((a,b),1)

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [7]:
import pandas as pd
df = pd.read_csv("/kaggle/input/indian-unicorn-startups-2023-june-updated/Indian Unicorn startups 2023 updated.csv")
df

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,1.00,1.00,Sep/2011,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
1,2,Flipkart^,E-Commerce,1.00,37.60,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,1.00,1.50,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal*,E-Commerce,1.80,2.40,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
4,5,PayTM^,Fintech - Payments & Wallet,1.70,16.00,Feb/2015,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber..."
...,...,...,...,...,...,...,...,...
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,1.10,1.10,Jun/2022,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,..."
98,99,Leadsquared,SaaS - CRM,1.00,1.00,Jun/2022,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge"
99,100,OneCard,Fintech - Credit Cards,1.30,1.30,Jul/2022,Pune,"QED Investors, Matrix Partners India, Sequoia ..."
100,101,Shiprocket,Aggregator - Logistics Services,1.23,1.23,Aug/2022,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem..."
101,102,Molbio Diagnostics,Healthtech - Diagnostics,1.53,1.53,Sep/2022,Goa,"Temasek, Motilal Oswal"

In [8]:
df.columns

Index(['No.', 'Company', 'Sector', 'Entry Valuation^^ ($B)', 'Valuation ($B)',
       'Entry', 'Location', 'Select Investors'],
      dtype='object')

In [9]:
df['c'] = df["Entry Valuation^^ ($B)"] + df["Valuation ($B)"]
df

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors,c
0,1,InMobi,Adtech - Mobile Ads,1.00,1.00,Sep/2011,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank",2.00
1,2,Flipkart^,E-Commerce,1.00,37.60,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent",38.60
2,3,Mu Sigma,SaaS - Analytics,1.00,1.50,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic",2.50
3,4,Snapdeal*,E-Commerce,1.80,2.40,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof...",4.20
4,5,PayTM^,Fintech - Payments & Wallet,1.70,16.00,Feb/2015,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber...",17.70
...,...,...,...,...,...,...,...,...,...
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,1.10,1.10,Jun/2022,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,...",2.20
98,99,Leadsquared,SaaS - CRM,1.00,1.00,Jun/2022,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge",2.00
99,100,OneCard,Fintech - Credit Cards,1.30,1.30,Jul/2022,Pune,"QED Investors, Matrix Partners India, Sequoia ...",2.60
100,101,Shiprocket,Aggregator - Logistics Services,1.23,1.23,Aug/2022,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem...",2.46
101,102,Molbio Diagnostics,Healthtech - Diagnostics,1.53,1.53,Sep/2022,Goa,"Temasek, Motilal Oswal",3.06

In [10]:
df['Company']

0                  InMobi
1               Flipkart^
2                Mu Sigma
3               Snapdeal*
4                  PayTM^
              ...
97                Purplle
98            Leadsquared
99                OneCard
100            Shiprocket
101    Molbio Diagnostics
Name: Company, Length: 102, dtype: object

In [11]:
s = pd.Series([10, 20, 30, None ],index=['A', 'B', 'C', 'D'])
s

A    10.0
B    20.0
C    30.0
D     NaN
dtype: float64

In [12]:
df.dropna()

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors,c
0,1,InMobi,Adtech - Mobile Ads,1.00,1.00,Sep/2011,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank",2.00
1,2,Flipkart^,E-Commerce,1.00,37.60,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent",38.60
2,3,Mu Sigma,SaaS - Analytics,1.00,1.50,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic",2.50
3,4,Snapdeal*,E-Commerce,1.80,2.40,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof...",4.20
4,5,PayTM^,Fintech - Payments & Wallet,1.70,16.00,Feb/2015,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber...",17.70
...,...,...,...,...,...,...,...,...,...
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,1.10,1.10,Jun/2022,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,...",2.20
98,99,Leadsquared,SaaS - CRM,1.00,1.00,Jun/2022,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge",2.00
99,100,OneCard,Fintech - Credit Cards,1.30,1.30,Jul/2022,Pune,"QED Investors, Matrix Partners India, Sequoia ...",2.60
100,101,Shiprocket,Aggregator - Logistics Services,1.23,1.23,Aug/2022,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem...",2.46
101,102,Molbio Diagnostics,Healthtech - Diagnostics,1.53,1.53,Sep/2022,Goa,"Temasek, Motilal Oswal",3.06

In [13]:
df.fillna(200)

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors,c
0,1,InMobi,Adtech - Mobile Ads,1.00,1.00,Sep/2011,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank",2.00
1,2,Flipkart^,E-Commerce,1.00,37.60,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent",38.60
2,3,Mu Sigma,SaaS - Analytics,1.00,1.50,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic",2.50
3,4,Snapdeal*,E-Commerce,1.80,2.40,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof...",4.20
4,5,PayTM^,Fintech - Payments & Wallet,1.70,16.00,Feb/2015,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber...",17.70
...,...,...,...,...,...,...,...,...,...
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,1.10,1.10,Jun/2022,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,...",2.20
98,99,Leadsquared,SaaS - CRM,1.00,1.00,Jun/2022,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge",2.00
99,100,OneCard,Fintech - Credit Cards,1.30,1.30,Jul/2022,Pune,"QED Investors, Matrix Partners India, Sequoia ...",2.60
100,101,Shiprocket,Aggregator - Logistics Services,1.23,1.23,Aug/2022,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem...",2.46
101,102,Molbio Diagnostics,Healthtech - Diagnostics,1.53,1.53,Sep/2022,Goa,"Temasek, Motilal Oswal",3.06

In [14]:
import pandas as pd

print(pd.__version__)

1.5.3

In [15]:
import pandas as pd
data = [10, 20, 30, 40]
# Create a Series from a list
s = pd.Series(data )


s

0    10
1    20
2    30
3    40
dtype: int64

In [16]:
# Accessing values by index
value = s[1:4:2]
value

1    20
3    40
dtype: int64

In [17]:
a = [10,20,30,40]
a[1:4:2]

[20, 40]

In [18]:
data = {'Name': ['John', 'Emily', 'Michael','anbhu'],
        'Age': [25, 30, 35,60]}


df = pd.DataFrame(data)
df

      Name  Age
0     John   25
1    Emily   30
2  Michael   35
3    anbhu   60

In [19]:
df.iloc[1:3,1]

1    30
2    35
Name: Age, dtype: int64

In [20]:
import pandas as pd
df = pd.read_csv("/kaggle/input/indian-unicorn-startups-2023-june-updated/Indian Unicorn startups 2023 updated.csv")
df.iloc[2:4,4:6]

   Valuation ($B)     Entry
2             1.5  Feb/2013
3             2.4  Oct/2014

In [21]:
# Example: Creating a DataFrame from a dictionary
import pandas as pd

# Create a DataFrame from a dictionary with default index and columns
data = {'Name': ['John', 'Emily', 'Michael'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
df

      Name  Age
0     John   25
1    Emily   30
2  Michael   35

In [22]:
# Create a DataFrame with custom index and columns
df_custom = pd.DataFrame(data, index=['A', 'B', 'C'], columns=['Name', 'Age', 'City'])
df_custom

      Name  Age City
A     John   25  NaN
B    Emily   30  NaN
C  Michael   35  NaN

In [23]:
# Example: Creating a DataFrame from a list of lists
import pandas as pd

# Create a DataFrame from a list of lists
data = [['John', 25], ['Emily', 30], ['Michael', 35]]
df = pd.DataFrame(data, columns=['Name', 'Age'])

In [24]:

df

      Name  Age
0     John   25
1    Emily   30
2  Michael   35

In [25]:
import pandas as pd
df = pd.read_csv("/kaggle/input/indian-unicorn-startups-2023-june-updated/Indian Unicorn startups 2023 updated.csv")
df.head(20)

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,1.0,1.0,Sep/2011,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
1,2,Flipkart^,E-Commerce,1.0,37.6,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,1.0,1.5,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal*,E-Commerce,1.8,2.4,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
4,5,PayTM^,Fintech - Payments & Wallet,1.7,16.0,Feb/2015,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber..."
5,6,Ola Cabs,Mobility - Ride Aggregator,1.6,7.3,Mar/2015,Bangalore,"Tiger Global, Matrix Partners, Steadview, Soft..."
6,7,Quikr*,Marketplace - Classifieds,1.0,1.5,Apr/2015,Bangalore,"Matrix Partners, Omidyar Network, Norwest, Kin..."
7,8,Zomato^,Foodtech,1.0,5.4,Sep/2015,Gurgaon,"Info Edge, Sequoia Capital, Vy Capital, Alibab..."
8,9,ShopClues*,E-Commerce,1.1,1.1,Jan/2016,Gurgaon,"Nexus Ventures, Helion Ventures, Beenos, Tiger..."
9,10,Hike*,Social Media - Messaging,1.4,1.4,Aug/2016,Delhi,"Tiger Global, Tencent, Foxconn"
10,11,BYJUS,Edtech,1.0,22.0,Jan/2018,Bangalore,"Aarin Capital, Sequoia Capital, Lightspeed Ven..."
11,12,PayTM Mall*,E-Commerce,1.9,3.0,Apr/2018,Noida,"Elevation Capital, Alibaba, SoftBank, eBay"
12,13,Swiggy,Foodtech,1.4,10.7,Jun/2018,Bangalore,"Accel, Elevation Capital, Norwest, Naspers, Te..."
13,14,PolicyBazaar^,Fintech - Insurance,1.0,2.4,Jun/2018,Gurgaon,"Info Edge, Intel, Inventus Capital, Tiger Glob..."
14,15,Freshworks^,SaaS - CRM,1.5,3.5,Jul/2018,Chennai/San Mateo,"Accel, Tiger Global, Google, Sequoia Capital, ..."
15,16,OYO Rooms,Proptech - Hotel Booking,4.9,9.6,Sep/2018,Gurgaon,"Lightspeed Ventures, Sequoia Capital, SoftBank"
16,17,Udaan,B2B E-Commerce,1.0,3.1,Sep/2018,Bangalore,"Lightspeed Ventures, DST Global, Tencent"
17,18,BillDesk,Fintech - B2B Payments,1.6,1.6,Nov/2018,Mumbai,"SIDBI VC, TA Associates, General Atlantic"
18,19,Delhivery^,Logistics Services,1.6,3.0,Jan/2019,Gurgaon,"Nexus Ventures, Multiples PE, Tiger Global, Ca..."
19,20,Rivigo,Logistics Services - Trucks,1.1,1.1,Feb/2019,Gurgaon,"Elevation Capital, Warburg Pincus"

In [26]:
df.tail(20)

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors
82,83,LEAD School,Edtech,1.10,1.10,Jan/2022,Mumbai,"GSV Ventures, WestBridge, Elevar Equity, TPG G..."
83,84,DarwinBox,SaaS - HR,1.00,1.00,Jan/2022,Hyderabad/Singapore,"3ONE4 Capital, Lightspeed Ventures, Sequoia Ca..."
84,85,DealShare,E-Commerce - Social Commerce,1.62,1.70,Jan/2022,Jaipur,"Whiteboard Capital, Z3Partners, Alpha Wave Glo..."
85,86,Polygon,Web3 Infrastructure - Dapps,10.00,10.00,Feb/2022,Bangalore,"Coinbase Ventures, Sequoia Capital India, Tige..."
86,87,ElasticRun,Logistics Services,1.40,1.40,Feb/2022,Pune,"SoftBank, Goldman Sachs, Prosus Ventures, Kala..."
87,88,LivSpace,Interior Design - Modular Kitchens & Home Prod...,1.20,1.20,Feb/2022,Bangalore,"KKR, Jungle Ventures, TPG Growth, Bessemer, Go..."
88,89,XpressBees Logistics,Logistics Services,1.20,1.20,Feb/2022,Pune,"InvestCorp Group, Norwest, Gaja Capital, TPG G..."
89,90,Uniphore Software Systems,SaaS - Conversational Service Automation,2.50,2.50,Feb/2022,Chennai/Palo Alto,"Iron Pillar, March Capital, Chiratae Ventures,..."
90,91,Hasura,SaaS - Programming Tools,1.00,1.00,Feb/2022,Bangalore,"Lightspeed Ventures, Nexus Venture Partners, V..."
91,92,CredAvenue,Marketplace - Lending,1.30,1.30,Mar/2022,Chennai,"B Capital Group, Insight Venture Partners, Li..."
92,93,Amagi Media Labs,SaaS - Local Ads Targeting,1.00,1.00,Mar/2022,Bangalore,"Avataar Venture Partners, PremjiInvest, Accel ..."
93,94,Oxyzo Financial Services,Fintech - Marketplace - SME Lending,1.00,1.00,Mar/2022,Gurgaon,"Alpha Wave Global, Matrix Partners India, Tige..."
94,95,Games24x7,Gaming,2.50,2.50,Mar/2022,Mumbai,"Tiger Global, Malabar Investments, The Raine ..."
95,96,Open Financial Technologies,Fintech - Neo Bank,1.00,1.00,May/2022,Bangalore,"3ONE4 Capital, Tiger Global, Temasek, Speedinvest"
96,97,PhysicsWallah,Edtech,1.10,1.10,Jun/2022,Noida,"GSV Ventures, WestBridge"
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,1.10,1.10,Jun/2022,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,..."
98,99,Leadsquared,SaaS - CRM,1.00,1.00,Jun/2022,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge"
99,100,OneCard,Fintech - Credit Cards,1.30,1.30,Jul/2022,Pune,"QED Investors, Matrix Partners India, Sequoia ..."
100,101,Shiprocket,Aggregator - Logistics Services,1.23,1.23,Aug/2022,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem..."
101,102,Molbio Diagnostics,Healthtech - Diagnostics,1.53,1.53,Sep/2022,Goa,"Temasek, Motilal Oswal"

In [27]:
df.shape

(102, 8)

In [28]:
# Example: Using info() to get the summary of a DataFrame
import pandas as pd

# Display the summary of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   No.                     102 non-null    int64
 1   Company                 102 non-null    object
 2   Sector                  102 non-null    object
 3   Entry Valuation^^ ($B)  102 non-null    float64
 4   Valuation ($B)          102 non-null    float64
 5   Entry                   102 non-null    object
 6   Location                102 non-null    object
 7   Select Investors        102 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 6.5+ KB

In [29]:
# Example: Using describe() to get descriptive statistics of a DataFrame
import pandas as pd

# Generate descriptive statistics of the DataFrame
df.describe()

              No.  Entry Valuation^^ ($B)  Valuation ($B)
count  102.000000              102.000000      102.000000
mean    51.500000                1.547549        3.398020
std     29.588849                1.138013        4.710657
min      1.000000                1.000000        0.568000
25%     26.250000                1.000000        1.200000
50%     51.500000                1.200000        1.850000
75%     76.750000                1.582500        3.475000
max    102.000000               10.000000       37.600000

In [30]:
df.iloc[2:4,1:3]

     Company            Sector
2   Mu Sigma  SaaS - Analytics
3  Snapdeal*        E-Commerce

In [31]:
df.loc[2:3,['Sector','Entry']]

             Sector     Entry
2  SaaS - Analytics  Feb/2013
3        E-Commerce  Oct/2014

In [32]:
df.iloc[ [1,2,3 ,5,6]]

,No.,Company,Sector,Entry Valuation^^ ($B),Valuation ($B),Entry,Location,Select Investors
1,2,Flipkart^,E-Commerce,1.0,37.6,Feb/2012,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,1.0,1.5,Feb/2013,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal*,E-Commerce,1.8,2.4,Oct/2014,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
5,6,Ola Cabs,Mobility - Ride Aggregator,1.6,7.3,Mar/2015,Bangalore,"Tiger Global, Matrix Partners, Steadview, Soft..."
6,7,Quikr*,Marketplace - Classifieds,1.0,1.5,Apr/2015,Bangalore,"Matrix Partners, Omidyar Network, Norwest, Kin..."